<!-- Legend -->
<div class="legend">
  <div class="legend-item">
    <i class="fas fa-heart"></i> Favorite - Click to toggle favorite status
  </div>
  <div class="legend-item">
    <i class="fas fa-pencil-alt"></i> Edit - Click to edit pet details
  </div>
  <div class="legend-item">
    <i class="fas fa-minus-circle"></i> Remove - Click to delete a pet
  </div>
  <div class="legend-item">
    <i class="fas fa-plus"></i> Add New Pet - Click to add a new pet
  </div>
</div>
<br>
<div class="add-pet-button-container">
  <!-- Button to show the form for adding a new pet -->
  <button class="add-pet-button" (click)="showAddPetForm()">
    <i class="fas fa-plus"></i> <!-- Plus sign icon -->
  </button>
</div>

<!-- New Pet Form (initially hidden) -->
<div *ngIf="showForm" class="new-pet-form">
  <form #newPetForm="ngForm" (ngSubmit)="onSubmit()">
    <!-- Add form fields here -->
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" [(ngModel)]="newPet.name" required>

    <label for="species">Species:</label>
    <input type="text" id="species" name="species" [(ngModel)]="newPet.species" required>

    <label for="description">Description:</label>
    <textarea id="description" name="description" [(ngModel)]="newPet.description" required></textarea>

    <label for="photo">Photo URL:</label>
    <input type="text" id="photo" name="photo" [(ngModel)]="newPet.photo" required>

    <button type="submit">Add Pet</button>
  </form>
</div>


<!-- Background container -->
<div class="background-container">
  <!-- Page title -->
  <div class="page-title">Available Pets</div>

  <!-- Pet cards grid -->
  <div class="pet-grid">
    <!-- Pet card -->
    <ng-container *ngFor="let pet of petData; let i = index">
      <div *ngIf="pet.photos && pet.photos.length > 0" class="pet-card" (click)="goToDetail(pet.id)">
        <div class="card-header">
          <!-- Heart icon for favorite -->
          <i class="fas fa-heart" [ngClass]="{ 'is-favorite': isFavorite(pet) }" (click)="toggleFavorite(pet); $event.stopPropagation();"></i>
          <!-- Edit button -->
          <button class="edit-button" (click)="editPet(pet.id)">
            <i class="fas fa-pencil-alt"></i>
          </button>
        </div>
        <!-- Pet details -->
        <div class="card-body" title="Click for more details">
          <h2 class="pet-name">{{ pet.name | slice:0:9 }}</h2> <!-- Limiting name to 9 characters -->
          <img [src]="pet.photos[0].large" [alt]="pet.name + ' Image'" class="pet-image" />
          <h3 class="pet-species">{{ pet.species }}</h3>
          <!-- Add other details here -->
        </div>
        <button class="custom-button" (click)="adoptNow()">Adopt Now</button>
        <!-- Delete icon -->
        <i class="fas fa-minus-circle remove-icon" (click)="deletePet(pet)"></i>
      </div>
    </ng-container>
    <!-- Placeholder for empty cards -->
  </div>
</div>
