<div class="login-wrapper">
  <div class="login-container">
    <h2>Create Account</h2>
      <div class="alert alert-danger" *ngIf="error">
        <p> {{ error }} </p>
      </div>
      <form #authform="ngForm" (ngSubmit)="onSubmit(authform)">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" class="form-control" ngModel name="email" required email>
          <div class="alert alert-danger" *ngIf="authform.controls['email'].invalid && authform.controls['email'].touched">
            <p>Please enter your email.</p>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" class="form-control" ngModel name="password" required minlength="6">
          <div class="alert alert-danger" *ngIf="authform.controls['password'].invalid && authform.controls['password'].touched">
            <p>Please enter your password.</p>
          </div>
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" id="confirmPassword" class="form-control" ngModel name="confirmPassword" required minlength="6">
          <div class="alert alert-danger" *ngIf="authform.controls['confirmPassword'].invalid && authform.controls['confirmPassword'].touched">
            <p>Please confirm your password.</p>
          </div>
          <div>
            <button class="btn btn-primary" type="submit" [disabled]="!authform.valid" (click)="onSubmit">Sign Up</button>
          </div>
        </div>
      </form>
  </div>
</div>

