/* Additional styling for pet cards */
.image-container {
  position: relative;
  overflow: hidden; /* Ensure the shadow won't overflow */
}

.custom-button {
  border-radius: 45px; /* Round the corners of the button */
  position: absolute;
  left: 30px;
  bottom: 10px; /* Adjust the bottom position */
  right: 10px; /* Adjust the right position */
  width: 85%; /* Reduce the width by 20px for padding */
  padding: 12px; /* Increase padding for better visibility */
  background-color: #FF5722; /* Petfinder's primary color */
  color: white; /* Text color */
  border: none; /* Remove button border */
  border-radius: 8px; /* Rounded corners */
  font-size: 16px; /* Adjust font size */
  font-weight: bold; /* Make text bold */
  z-index: 2; /* Ensure buttons stay on top */
  transition: transform 0.3s ease-in-out; /* Adding transition for button scale effect */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Add bottom-right shadow */
  cursor: pointer; /* Set cursor to pointer */
}

.image-with-shadow {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Adding transition for smooth effect */
  position: relative; /* Ensure images are in the natural flow of the document */
  z-index: 1; /* Place images below the buttons */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Add bottom-right shadow */
  padding-top: 20px; /* Adjust the top padding as needed */
  border-radius: 45px; /* Round the corners of the image */
}

.image-container:hover .image-with-shadow {
  transform: scale(1.05); /* Scale the image on hover */
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5); /* Adding box shadow on hover */
}

.custom-button:hover {
  transform: scale(1.05); /* Scale the button on hover */
}


/* Styles for pet listing with Petfinder.com colors and centered content */
.page-title {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 5px;
}

.pet-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.pet-card {
  width: 200px;
  margin: 10px;
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  background-color: #ffc90e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.pet-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-bottom-right-radius: 15px;
}

.pet-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.pet-card button {
  width: calc(100% - 20px);
  margin-top: 10px;
  padding: 10px;
  background-color: #e65550;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.pet-card button:hover {
  transform: scale(1.05);
}




