.favorites-title {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 30px;
  color: #333;
}

/* Favorite item container */
.favorites-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

/* Individual favorite details */
.favorite-details {
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  width: 300px;
  height: 400px; /* Adjusted height for more space */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.favorite-photo {
  width: 200px; /* Adjusted image width */
  height: 200px; /* Adjusted image height */
  object-fit: cover;
  border-radius: 50%; /* Make images circular */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  cursor: pointer; /* Show pointer cursor on hover */
}

.favorite-photo:hover {
  transform: scale(1.1); /* Scale the image on hover */
}
/* Styles for the large heart */
.large-heart-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; /* Adjusted margin */
}

.large-heart-container img {
  width: 100px; /* Adjusted heart image size */
  height: auto;
  /* Add any other styles for the heart image */
}
